.card {
  // perspective的值越大，透视效果越明显
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // 设置卡片高度是为了子元素设置绝对定位时脱离文档流造成塌陷
  height: 50rem;

  &__side {
    color: #000;
    font-size: 2rem;

    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // backface-visibility的作用是隐藏元素的背面
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    overflow: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }
  }

  // 设置card盒子hover时子元素card__side的动画
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // card__picture
  &__picture {
    background-size: cover;
    height: 23rem;
    // background-blend-mode的作用是改变背景颜色的混合模式,参数及其对应的效果为：color-burn：颜色加深，color-dodge：颜色减淡，darken：颜色变暗，lighten：颜色变亮，overlay：颜色叠加，soft-light：柔光，hard-light：淡色，subtract：颜色减去
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // 设置图片左上角圆角，右上角圆角，解决由于clip-path及父元素设置overflow：hidden不生效圆角的问题
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        ),
        url(../img/nat-5.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        ),
        url(../img/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    // box-decoration-break的作用是设置元素的边框，参数及其对应的效果为：clone：克隆边框，slice：切割边框，此处设置为clone的作用是为了解决设置padding时，文字和边框重叠的问题
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
  }
}
